<p id="notice"><%= notice %></p>

<p>
  <strong>Hangout:</strong>
  <%= @model.Hangout %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @model.datetime %>
</p>

<p>
  <strong>Title:</strong>
  <%= @model.title %>
</p>

<p>
  <strong>Max participants:</strong>
  <%= @model.max_participants %>
</p>

<p>
  <strong>Recordable:</strong>
  <%= @model.recordable %>
</p>

<p>
  <strong>Hangout url:</strong>
  <%= @model.hangout_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @model.description %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
