
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">

    <%= f.label :tags, 'What kind of hangouts are you interested in?', class:'question' %><br>
    <%= f.collection_select(:tags, Tag.all, :id, :name,{include_hidden: false, :selected => @user.tag_ids}, {multiple: true, :class => "chzn-hangout", "data-placeholder" => "Select tags"}) %>
  </div>
  <div class="actions">
    <%= f.submit 'View Your Hangouts', :class => 'btn createHangout' %>
  </div>
<% end %>
