<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email_address %><br>
    <%= f.text_field :email_address %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :in_hospital %><br>
    <%= f.check_box :in_hospital %>
  </div>
  <div class="field">
    <%= f.label :searchable_by_age %><br>
    <%= f.check_box :searchable_by_age %>
  </div>
  <div class="field">
    <%= f.label :searchable_by_condition %><br>
    <%= f.check_box :searchable_by_condition %>
  </div>
  <div class="field">
    <%= f.label :is_caregiver %><br>
    <%= f.check_box :is_caregiver %>
  </div>
  <div class="field">
    <%= f.label :dependant_dob %><br>
    <%= f.date_select :dependant_dob %>
  </div>
  <div class="actions">
    <%= f.submit 'View Your Hangouts', :class => 'btn createHangout' %>
  </div>
<% end %>
