<%= form_for(@hangout) do |f| %>
  <% if @hangout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hangout.errors.count, "error") %> prohibited this hangout from being saved:</h2>

      <ul>
      <% @hangout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :datetime %><br>
    <%= f.datetime_local_field :datetime %>
  </div>
  <script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
  
  <div class="hangout-line">
  <div class="field fld-recordable">
    <%= f.label :recordable do %>
      <%= f.check_box :recordable %>
      Post on YouTube?
    <% end %>
  </div>
</div>
  <div class="field">
    <%= f.label :max_participants %><br>
    <%= f.number_field :max_participants %>
  </div>
<!--   <div class="field">
    <%= f.label :hangout_url %><br>
    <%= f.text_field :hangout_url %>
  </div> -->

<!--   <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div> -->
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.collection_select(:tags, Tag.all, :id, :name,{include_hidden: false, :selected => @hangout.tag_ids}, {multiple: true, :class => "chzn-hangout", "data-placeholder" => "Select tags"}) %>
  </div>

  <div class="actions">
  <div class="g-hangout" data-render="createhangout"></div>
    <%= f.submit "Add Your Hangout", :class => 'btn createHangout' %>
  </div>
<% end %>
