  <div class="rightCallouts">
    <%= link_to 'Create a Hangout', new_hangout_path, class:"btn createHangout" %></div>
<div class="your">
  <% if @user_hangouts.present? %>
  <h2>Your Hangouts</h2>
  <% @user_hangouts.each do |hangout| %>
  <div class="expandableHangout">
    <div class="hangoutTitle">
      <div class="title"><%= hangout.title %></div>
      <div class="time"><%= hangout.time %></div>

    </div>
    <span class="expandIcon">▼</span>

    <div class="hangouts_list">
    <% hangout.tags.each do |t|  %>
      <span class="<%= t.name %>"><%= t.name %></span>
    <% end %>
    </div>
  </div>
  <div class="hiddenHangoutText" style="display:none;">
        <%= hangout.description %><br>
        Maximum number of participants: <%= hangout.max_participants %>
    <%= link_to 'Edit Your Hangout', edit_hangout_path(hangout), class: "btn createHangout pull_right" %>
    <div style="clear:both;"></div>

  </div>
  <br>
  <% end %>
  <% end %>
</div>
  <%= render 'search' %>

  <div class="happening">
  <% if @happening_hangouts.present? %>

    <h2>Happening Now</h2>
    <% @happening_hangouts.each do |hangout| %>
    <div class="expandableHangout">
      <div class="hangoutTitle">
      <div class="title"><%= hangout.title %></div>
      <div class="time"><%= hangout.time %></div>

      </div>
      <span class="expandIcon">▼</span>

      <div class="hangouts_list">
      <% hangout.tags.each do |t|  %>
        <span class="<%= t.name %>"><%= t.name %></span>
      <% end %>
      </div>

    </div>
  <div class="hiddenHangoutText" style="display:none;">
        <%= hangout.description %><br>
        Maximum number of participants: <%= hangout.max_participants %>
    <%= link_to 'Join Hangout', "https://talkgadget.google.com/hangouts/_/76cpj7nrbfjsiatvea2h5sascg?hl=en", class: "btn createHangout pull_right", target: "_blank" %>
    <div style="clear:both;"></div>
  </div>
  <br>
  <% end %>
  <% end %>
</div>
  <div class="upcoming">
  <% if @upcoming_hangouts.present? %>
  <h2>Upcoming</h2>
  <% @upcoming_hangouts.each do |hangout| %>
  <div class="expandableHangout">
    <div class="hangoutTitle">
      <div class="title"><%= hangout.title %></div>
     <div class="time"><%= hangout.time %></div>
    </div>
    <span class="expandIcon">▼</span>

    <div class="hangouts_list">
    <% hangout.tags.each do |t|  %>
      <span class="<%= t.name %>"><%= t.name %></span>
    <% end %>
    </div>

  </div>
  <div class="hiddenHangoutText" style="display:none;">
        <%= hangout.description %><br>
        Maximum number of participants: <%= hangout.max_participants %>
    <%= link_to 'Add to Calendar', hangout, class: "btn createHangout pull_right" %>
    <div style="clear:both;"></div>
  </div>
  <br>
  <% end %>
  <% end %>
</div>
  <br>

<div style="text-align:center;">
    <%= link_to 'Watch Past Hangouts', "http://www.youtube.com/playlist?list=PL609967D90529BC4D", class:"btn createHangout", style:"margin-right: 40px;", :target => "_blank" %>
  <%= link_to 'Create Your Own Hangout', new_hangout_path, class:"btn createHangout"  %>
</div>
