	<div class="rightCallouts">
		<%= link_to 'Create a Google Hangout', new_hangout_path, class:"btn createHangout" %>
	</div>

<%= render 'search' %>



 <% if @user_hangouts.present? %>
  <h2>Your Hangouts</h2>
  <% @user_hangouts.each do |hangout| %>
      <div class="result"><%= hangout.datetime.strftime("%m/%d") %>
      <%= hangout.title %>
      <%= hangout.max_participants %>
      <%= link_to 'Show', hangout %>
    </div>
      <br>
  <% end %>
 <% end %>

 <% if @community_hangouts.present? %>
  <h2>Happening Events</h2>
  <% @hangouts.each do |hangout| %>
      <div class="result"><%= hangout.datetime.strftime("%m/%d") %>
      <%= hangout.title %>
      <%= hangout.max_participants %>
      <%= link_to 'Show', hangout %>
    </div>
      <br>
  <% end %>
<% end %>

<br>

<%= link_to 'New Hangout', new_hangout_path, class:"btn createHangout"  %>
