<h1>Listing hangouts</h1>

  <% @hangouts.each do |hangout| %>
      <%= hangout.datetime.strftime("%m/%d") %>
      <%= hangout.title %>
      <%= hangout.max_participants %>
      <%= hangout.recordable %>
      <%= link_to 'Show', hangout %>
      <%= link_to 'Edit', edit_hangout_path(hangout) %>
      <br>
  <% end %>

<br>

<%= link_to 'New Hangout', new_hangout_path %>
