	<div class="rightCallouts">
		<%= link_to 'Create a Google Hangout', new_hangout_path, class:"btn createHangout" %>
	</div>

<%= render 'search' %>

  <% @hangouts.each do |hangout| %>
      <div class="result"><%= hangout.datetime.strftime("%m/%d") %>
      <%= hangout.title %>
      <%= hangout.max_participants %>
      <%= hangout.recordable %>
      <%= link_to 'Show', hangout %>
      <%= link_to 'Edit', edit_hangout_path(hangout) %></div>
      <br>
  <% end %>

<br>

<%= link_to 'New Hangout', new_hangout_path, class:"btn createHangout"  %>
