  <div class="rightCallouts">
    <%= link_to 'Create a Google Hangout', new_hangout_path, class:"btn createHangout" %></div>

  <% if @user_hangouts.present? %>
  <h2>Your Hangouts</h2>
  <% @user_hangouts.each do |hangout| %>
  <div class="expandableHangout">
    <div class="hangoutTitle">
      <%= hangout.time %>
      <%= hangout.title %>
    </div>
    <span class="expandIcon">▼</span>

    <div class="hangouts_list">
    <% hangout.tags.each do |t|  %>
      <span class="<%= t.name %>"><%= t.name %></span>
    <% end %>
    </div>
  </div>
  <div class="hiddenHangoutText" style="display:none;">
        <%= hangout.description %><br>
        Maximum number of participants: <%= hangout.max_participants %>
    <%= link_to 'Edit Your Event', edit_hangout_path(hangout) %>

  </div>
  <br>
  <% end %>
  <% end %>

  <%= render 'search' %>

  <% if @happening_hangouts.present? %>
  <h2>Happening Hangouts</h2>
  <% @happening_hangouts.each do |hangout| %>
  <div class="expandableHangout">
    <div class="hangoutTitle">
      <%= hangout.time %>
      <%= hangout.title %>
    </div>
    <span class="expandIcon">▼</span>

    <div class="hangouts_list">
    <% hangout.tags.each do |t|  %>
      <span class="<%= t.name %>"><%= t.name %></span>
    <% end %>
    </div>

  </div>
  <div class="hiddenHangoutText" style="display:none;">
        <%= hangout.description %><br>
        Maximum number of participants: <%= hangout.max_participants %>
    <%= link_to 'Join Hangout', hangout %>
  </div>
  <br>
  <% end %>
  <% end %>

  <% if @upcoming_hangouts.present? %>
  <h2>Upcoming Hangouts</h2>
  <% @upcoming_hangouts.each do |hangout| %>
  <div class="expandableHangout">
    <div class="hangoutTitle">
      <%= hangout.time %>
      <%= hangout.title %>
    </div>
    <span class="expandIcon">▼</span>

    <div class="hangouts_list">
    <% hangout.tags.each do |t|  %>
      <span class="<%= t.name %>"><%= t.name %></span>
    <% end %>
    </div>

  </div>
  <div class="hiddenHangoutText" style="display:none;">
        <%= hangout.description %><br>
        Maximum number of participants: <%= hangout.max_participants %>
    <%= link_to 'Add to Calendar', hangout %>
  </div>
  <br>
  <% end %>
  <% end %>

  <br>

    <%= link_to 'Watch Past Hangouts', new_hangout_path, class:"btn createHangout" %>
    <br>
    <br>


  <%= link_to 'New Hangout', new_hangout_path, class:"btn createHangout"  %>
