<!DOCTYPE html>
<html>
<head>
  <title>PresbyHangouts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="pageWrapper">&nbsp;</div>
<div class="mainContent">
<%= link_to image_tag('/assets/homeButtom.png'), dashboard_path, class:"pHangoutButton2" %>

<%= link_to image_tag('/assets/in_app_button.png'), intro_path, class:"pHangoutButton" %>
<div style="clear:both"></div>
	
<% unless request.fullpath == "/dashboard" %>
	<h2 class="mainTitle">Presby Hangouts</h2>
<% end %>
<%= yield %>
<div style="background-color:#276162; height:10px; margin-top:40px;"></div>

</div>

</body>
</html>
